name: Publish to PyPI

on:
  workflow_dispatch:
  release:
    types: [published]
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          # Install a specific version of uv and enable caching.
          version: "0.6.2"
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.12  # Build only for Python 3.12

      - name: Build package
        run: uv build

      - name: Save build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: grz-cli-build
          path: dist/*

  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: [build]
    environment:
      name: pypi
      url: https://pypi.org/p/grz-cli
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: grz-cli-build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
